<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
			<div class="card">
				<div class="card-body">
					<h1 class="container text-center">Add Contact</h1>
					<div class="container-fluid mt-1">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<form th:action="@{/user/process-contact}" th:object="${contact}" enctype="multipart/form-data" method="post" class="mt-2">
									
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="fa fa-plus"></i>	
											</div>
										</div>
										<input type="text" id="firstName" name="name" class="form-control" placeholder="Enter name here" required="">
									</div>
									
									<div class="input-group mt-3">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="fas fa-user-alt"></i>	
											</div>
										</div>
										<input type="text" id="secondName" name="secondName" class="form-control" placeholder="Enter nick name here" required="">
									</div>
									
									<div class="input-group mt-3">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="fas fa-user-tie"></i>	
											</div>
										</div>
										<input type="text" id="work" name="work" class="form-control" placeholder="Enter profession here" required="">
									</div>
									
									<div class="input-group mt-3">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="fas fa-envelope"></i>	
											</div>
										</div>
										<input type="email" id="email" name="email" class="form-control" placeholder="Enter email here" required="">
									</div>
									
									<div class="input-group mt-3">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="fas fa-phone-square"></i>	
											</div>
										</div>
										<input type="text" id="phone" name="phone" min=10 class="form-control" placeholder="Enter phone no here" required="">
									</div>
									
									<div class="form-group mt-3">
										<textarea id="mytextarea" class="form-control" rows="10" cols="" name="description" placeholder="Enter your contact description"></textarea>
									</div>
									
									<div class="custom-file mt-3">
										<input type="file" name="profileImage">
									</div>
									<div class="conatiner mt-3 text-center">
										<button type="submit" class="btn btn-outline-primary">Add Contact</button>
									</div>
									
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		<script>
      		tinymce.init({
        	selector: '#mytextarea'
      		});
    	</script>
    	<script>
			$(document).ready(()=>{
				$(".item").removeClass("active");
				$("#add-link").addClass("active");
			})
		</script>
	</section>
</body>
</html>