<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="card">
			<div class="card-body mr-3">
				<h1 class="text-center">Your Contacts</h1>
				
				<div class="search-container my-3">
					<input  onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="search your contact"/>
					
					<div class="search-result">
					
					</div>
				</div>
				<div class="table-responsive">				
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">#ID</th>
				      <th scope="col">Name</th>
				      <th scope="col">Email</th>
				      <th scope="col">Phone</th>
				      <th scope="col">Action</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="c: ${contacts}">
				      <th scope="row" th:text="${'SCM2022'+c.cid}"></th>
				      <td>
				      	<img class="my-profile-picture" th:src="@{'/image/'+${c.image}}" alt="profile image" />
				      	<span th:text="${c.name}"></span>
				      </td>
				      <td> 
				      	<a href="#" th:href="@{'/user/'+${c.cid}+'/contact'}">
				      		<span th:text="${c.email}"></span>
				      	</a>
				      </td>
				      <td th:text="${c.phone}"></td>
				      <td>
				      <form class="mb-2" th:action="@{'/user/update-contact/'+${c.cid}}" method="post">
				      	<button type="submit" class="btn btn-primary btn-sm">Update</button>
				      </form>
				      	<a href="#" th:onclick="|deleteContact(${c.cid})|"><button  class="btn btn-danger btn-sm">Delete</button></a>
				      </td>
				    </tr>
				  </tbody>
				</table>
				</div>
				
		  	<nav aria-label="Page navigation example">
  				<ul class="pagination">
    				<li th:if="${currentPage != 0}"  class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage-1}}" class="page-link">Previous</a></li>
    				
    				
    				<li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/'+${i-1}}"><span th:text="${i}"></span></a></li>
    	
    	
    				<li th:if="${currentPage+1 != totalPages}"  class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage+1}}" class="page-link">Next</a></li>
  				</ul>
			</nav>
				
			</div>
		</div>
		<script>
			$(document).ready(()=>{
				$(".item").removeClass("active");
				$("#contact-link").addClass("active");
			})
		</script>
	</section>
</body>
</html>